.spinner-container {
  position: relative;
  width: 100px;
  height: 300px;
}

.spinner {
  margin-top: 50px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(50%, 50%) translateX(20px);
  animation: spin 2s linear infinite;
  border: 10px solid transparent;
  border-top-color: #3498db;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner.spin {
  animation: spin 2s;
}
 
